<div class="silver">
    <h1>Silver</h1>
    <h2>200 kr/mån</h2>
    <button>Välj</button>
</div>

<div class="gold">
    <h1>Guld</h1>
    <h2>350 kr/mån</h2>
    <button>Välj</button>
</div>

<div class="diamond">
    <h1>Diamant</h1>
    <h2>500 kr/mån</h2>
    <button>Välj</button>
</div>