<div class="account">
    <div class="login">
        <h1>Logga In</h1>
        <input type="text" placeholder="Användarnamn">
        <input type="password" placeholder="Lösenord">
        <button>Logga In</button>
    </div>
    <div class="register">
        <h1>Skapa konto</h1>
        <input type="text" placeholder="Användarnamn">
        <input type="password" placeholder="Lösenord">
        <button>Skapa</button>
    </div>
</div>