body {
    background-color:black;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: grid;
    grid-template-rows: repeat(1fr, 11);
    grid-template-columns: repeat(1fr, 3);
    width: 100vw;
    height: 100vh;
    background-color: grey;
}
header {
    grid-row: 1;
    grid-column: span 3;
    width: 100vw;
    height: 15vh;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(1fr, 3);
    background-color:black;
}
header h1 {
    color:  rgb(119, 101, 1);
    grid-row: 1;
    grid-column: 1/3;
    text-align: center;
    font-size: 6vh;
}
.mobile_menu {
    opacity: 0;
    color: rgb(119, 101, 1);
    grid-row: 1;
    grid-column: 1;
    position:absolute;
    background-color: black;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(119, 101, 1);
    width: 60vw;
    height: 60vh;
    transition: ease-in 0.3s;
}
ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(1fr, 2);
    grid-template-rows: repeat(1fr, 4);
    grid-row-gap: 5vh;
    text-align: center;
    margin-left: -10vw;

}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

a:visited {
   color: rgb(119, 101, 1);
}
li {
    font-size: 6vw;
    grid-row: span 1;
    grid-column: span 2;
    border-style: solid;
}
.show {
    opacity: 1;
}
.fade {
    display: none;
}
.material-icons  {
    font-size: 9vh;
    color: rgb(119, 101, 1);
    grid-row: 1;
    grid-column: 1;
    cursor: pointer;
}

.desk_home {
    display: none;
}
.home1 {
    grid-row: 2/4;
    grid-column: span 3;
    width: 100vw;
    height: 40vh;
    background-image: url("../img/bg-home.jpeg");
    background-size: 100% 100%;
}
.home1 h1 {
    grid-row: 3;
    grid-column: span 3;
    color: rgb(119, 101, 1);
    text-align: center;
    margin-top: 40%;
    font-size: 5.5vh;
}
.home2 {
    grid-row: 6/8;
    grid-column: span 3;
    width: 100vw;
    height: 35vh;
    background-image: url("../img/motivation.jpg");
    background-size: 100% 100%;
}
.home2 p {
    text-align: center;
    margin-top: 45%;
    font-size: 3vh;
}
footer {
    width: 100vw;
    height: 10vh;
    display: grid;
    grid-template-columns: repeat(1fr, 3);
    grid-template-rows: repeat(1fr, 3);
    grid-row: 9/11;
    grid-column: span 3;
    background-color: black;
}

footer p {
    color: rgb(119, 101, 1);
    text-align: center;
    font-size: 2.5vh;
}

.column1 {
    grid-column: span 1;
    grid-row: span 3;
    
}

.column2 {
    grid-column: 2;
    grid-row: span 3;
}

.column3 {
    grid-column: 3;
    grid-row: span 3;
}

.silver {
    grid-row: 2/3;
    background-color: silver;
    width: 100vw;
    height: 25vh;
    text-align: center;
    font-size: 2vh;
}

.gold {
    grid-row: 4/5;
    background-color: rgb(192, 166, 19);
    width: 100vw;
    height: 25vh;
    text-align: center;
    font-size: 2vh;
}

.diamond {
    grid-row: 6/7;
    background-color: rgb(97, 142, 194);
    width: 100vw;
    height: 25vh;
    text-align: center;
    font-size: 2vh;
}

button {
    cursor: pointer;
    border-radius: 20px;
    background-color: black;
    border: 2px solid;
    border-color: rgb(119, 101, 1);
    height: 7vh;
    width: 20vw;
    font-size: 6vw;
    color: rgb(119, 101, 1);
}

.personal {
    grid-row: 2/4;
    display: grid;
    grid-template-rows: repeat(1fr, 2);
    grid-template-columns: repeat(1fr, 3);
    background-color: black;
    color: rgb(119, 101, 1);
    border: solid;
    border-color: rgb(119, 101, 1);
    height: 37.5vh;
    width: 98vw;
    text-align: center;
    font-size: 2vh;
}

.personal h1 {
    grid-row: 1;
    grid-column: span 3;
}
.col1 {
    grid-row: 2;
    grid-column: 1;
}

.col2 {
    grid-row: 2;
    grid-column: 2;
}

.col3 {
    grid-row: 2;
    grid-column: 3;
}
.group {
    grid-row: 5/7;
    background-color: black;
    color: rgb(119, 101, 1);
    border: solid;
    border-color: rgb(119, 101, 1);
    height: 37.5vh;
    width: 98vw;
    text-align: center;
    font-size: 2vh;
    display: grid;
    grid-template-rows: repeat(1fr, 2);
    grid-template-columns: repeat(1fr, 2)
}

.group h1 {
    grid-row: 1;
    grid-column: span 2;
}

.col4 {
    grid-row: 2;
    grid-column: 1;
}

.col5 {
    grid-row: 2;
    grid-column: 2;
}

.book_desk {
    display: none;
}
.account {
    text-align: center;
    display: grid;
    grid-template-rows: repeat(1fr, 6);
    grid-template-columns: repeat(1fr, 4);
    height: 75vh;
    width: 98vw;
    background-color: black;
    color: rgb(119, 101, 1);
}

.login {
    grid-row: span 2;
    border: solid;
    border-color: rgb(119, 101, 1);
}

.login button {
    grid-row: 3;
    grid-column: 2 / 3;
    font-size: 2.5vh;
    align-content: center;
}

.register {
    grid-row: 4;
    border: solid;
    border-color: rgb(119, 101, 1);
}

.register button {
    font-size: 2.5vh;
    grid-row: 6;
    align-content: center;
}

.desk_menu {
    display: none;
}
@media (min-width: 750px) {
    body {
        background-color: black;
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .container {
        display: grid;
        grid-template-rows: repeat(1fr, 14);
        grid-template-columns: repeat(1fr, 5);
        width: 100vw;
        height: 100vh;
        background-color: rgb(119, 101, 1);
    }
    
    header {
        grid-row: span 2;
        grid-column: span 5;
        width: 100vw;
        height: 15vh;
        background-color: black;
        color: rgb(119, 101, 1);
        
    }
    
    header h1 {
        width: 15vw;
        text-align: center;
    }

    
    a {
        text-decoration: none;
    }
    a:hover {
        text-decoration: none;
    }
    
    a:visited {
       color: rgb(119, 101, 1);
    }
    .desk_menu {
        grid-column: 2/5;
        grid-row: 1;
        height: 15vh;
        width: 80vw;
        display: block;
        text-align: center;
    }

    .desk_menu ul {
        list-style-type: none;
        display: block;
        padding-left: 10vw;
    }
    
    .desk_menu li {
        display: inline;
        font-size: 2vw;
        border-style: none;
        margin: 1.5vw;
    }
    .desk_menu li a {
        display: inline;
    }
    
    .mobile_menu {
        display: none;

    }
    
    ul {
        display: none;
   }
    
    li {
        display: none;
    }
    
    .material-icons {
        display: none;
    }
    .show {
        display: none;
    }
    
    .fade {
        display: none;
    }
    
    .desk_home {
        background-image: url("../img/bg-home-desk.jpg");
        background-size: 100% 100%;
        grid-row: 3 / 11;
        grid-column: 1 / 6;
        height: 75vh;
        width: 100vw;
        display: block;
        text-align: center;
        color: rgb(119, 101, 1);
        grid-template-rows: repeat(1fr, 8);
        grid-template-columns: repeat(1fr, 5);
        display: grid;
    }

    .slogan {
        grid-row: 3;
        grid-column: span 5;
        font-size: 4vh;
        
    }

    .info{
        grid-row: 6;
        grid-column: span 5;
        font-size: 4vh;
        text-shadow: 1px 1px;
        text-shadow: 
        -0.5px -0.5px 0px snow,
         0px -0.5px 0px snow,
         0.5px -0.5px 0px snow,
        -0.5px  0px 0px snow,
         0.5px  0px 0px snow,
        -0.5px  0.5px 0px snow,
         0px  0.5px 0px snow,
         0.5px  0.5px 0px snow;
    }
    .home1 {
        display: none;
    }
    .home1 h1 {
        display: none;
    }
    .home2 {
        display: none;
    }
    .home2 p {
        display: none;
    }

    .silver {
        grid-row: 3/11;
        grid-column: 1;
        background-color: silver;
        width: 33vw;
        height: 75vh;
        text-align: center;
        font-size: 2vh;
    }

    .silver h1 {
        position: relative;
        top: 30%;
        left: 50%;
        transform: translate(-50%)
    }

    .silver h2 {
        position: relative;
        top: 30%;
        left: 50%;
        transform: translate(-50%)
    }
    
    .silver button {
        position: relative;
        top: 30%;
        left: 15%;
        transform: translate(-50%)
    }
    .gold {
        grid-row: 3/11;
        grid-column: 2;
        background-color: rgb(192, 166, 19);
        width: 33vw;
        height: 75vh;
        text-align: center;
        font-size: 2vh;
    }

    .gold h1 {
        position: relative;
        top: 30%;
        left: 50%;
        transform: translate(-50%)
    }
    
    .gold h2 {
        position: relative;
        top: 30%;
        left: 50%;
        transform: translate(-50%)
    }

    .gold button {
        position: relative;
        top: 30%;
        left: 15%;
        transform: translate(-50%)
    }

    .diamond {
        grid-row: 3/11;
        background-color: rgb(97, 142, 194);
        width: 33vw;
        height: 75vh;
        text-align: center;
        font-size: 2vh;
    }

    .diamond h1 {
        position: relative;
        top: 30%;
        left: 50%;
        transform: translate(-50%)
    }
    
    .diamond h2 {
        position: relative;
        top: 30%;
        left: 50%;
        transform: translate(-50%)
    }

    .diamond button {
        position: relative;
        top: 30%;
        left: 15%;
        transform: translate(-50%)
    }
    button {
        cursor: pointer;
        border-radius: 20px;
        background-color: black;
        border: 0.2vw solid;
        border-color: rgb(119, 101, 1);
        height: 7vh;
        width: 10vw;
        font-size: 2vw;
        color: rgb(119, 101, 1);
    }
    
    .book_mobile {
        display: none;
    }

    .book_desk {
        display: block;
        display: grid;
        grid-template-columns: repeat(1fr, 2);
        height: 75vh;
        width: 100vw;
    }
    
    .personal {
        grid-column: 1;
        width: 49vw;
        height: 74vh;
        font-size: 3vh;
        display: grid;
        grid-template-columns: repeat(1fr, 2);
        grid-template-rows: repeat(1fr, 2);
    }
    
    .personal h1 {
        grid-row: 1;
        grid-column: span 2;
    }
    .group {
        grid-column: 2;
        grid-row: none;
        width: 49vw;
        height: 74vh;
        font-size: 3vh;
    }

    .group h1 {
        grid-row: 1;
        grid-column: span 3;
    }

    .account {
        grid-template-rows: repeat(1fr, 6);
        grid-template-columns: repeat(1fr, 2);
        height: 75vh;
        width: 98vw;
    }
    
    .login {
        grid-column: 1;
        grid-row: span 6;
        width: 49vw;
        display: grid;
        grid-template-rows: inherit;
        /* grid-template-columns: repeat(1fr, 4); */
    }

    .login h1 {
        grid-row: 2;
        grid-column: 3 / 5;
    }
    
    .login input {
        grid-row: 3;
        grid-column: span all;
        height: 2vh;
        width: 12vw;
        align-content: center;
    }
    .login button {
        grid-row: 4;
        grid-column: 2 / 3;
        font-size: 2.5vh;
        align-content: center;
    }
    
    .register {
        grid-column: 2;
        grid-row: span 6;
        width: 49vw;
        
    }
    
    .register button {
        font-size: 2.5vh;
        grid-row: 6;
        align-content: center;
    }

    footer {
        width: 100vw;
        height: 10vh;
        display: grid;
        grid-template-columns: repeat(1fr, 6);
        grid-template-rows: repeat(1fr, 3);
        grid-row: 12 / 14;
        grid-column: span 5;
        background-color: black;
    }
    footer p {
        color: rgb(119, 101, 1);
        text-align: center;
        font-size: 2.5vh;
    }
    
    .column1 {
        grid-column: span 1;
        grid-row: span 3;
        
    }
    
    .column2 {
        grid-column: 2;
        grid-row: span 3;
    }
    
    .column3 {
        grid-column: 3;
        grid-row: span 3;
    }
}